body {
    background: #ade6de;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    font-size: 2.25vh;
    color: white;
}

#question {
    font-size: 5vh;
}

hr {
    color: black;
    background: black;
    height: 1px;
}

button {
    padding: 7px;
    margin: 10px;
    border: none;
    background-color: #406374;
    color: white;
}

#quiz-content, .high-scores {
    text-align: center;
}

#quiz-content p {
    font-size: 2.5vh;
}